.breadcrumbs {
  text-align: center;
  position: relative;
  img {
    width: 100%;
  }
  .breadcrumnb-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .content-title {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      p {
        font-size: 16px;
        font-weight: 500;
      }
      p:nth-child(3) {
        font-weight: 300;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .breadcrumbs {
    position: relative;
    img {
      width: 100%;
    }
    .breadcrumnb-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h2 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .content-title {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        p {
          font-size: 12px;
          font-weight: 500;
        }
        p:nth-child(3) {
          font-weight: 300;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
    .breadcrumbs {
      position: relative;
      img {
        width: 100%;
      }
      .breadcrumnb-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        .content-title {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
          p {
            font-size: 10px;
            font-weight: 500;
          }
          p:nth-child(3) {
            font-weight: 300;
          }
        }
      }
    }
  }
