.bg-breadcrumbs-mini {
  background-color: #f9f1e7;
  margin-bottom: 30px;
  .container {
    .breadcrumbs-mini {
      display: flex;
      align-items: center;
      padding: 30px 0;
      gap: 20px;
      p {
        font-size: 16px;
        font-weight: 400;
      }
      p:nth-child(1),
      p:nth-child(3),
      p:nth-child(5) {
        color: #9f9f9f;
      }
      p:nth-child(4) {
        padding-right: 30px;
        border-right: 1px solid #9f9f9f;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .bg-breadcrumbs-mini {
    background-color: #f9f1e7;
    .container {
      .breadcrumbs-mini {
        display: flex;
        align-items: center;
        padding: 20px 0;
        gap: 14px;
        p {
          font-size: 12px;
          font-weight: 400;
        }
        p:nth-child(1),
        p:nth-child(3),
        p:nth-child(5) {
          color: #9f9f9f;
        }
        p:nth-child(4) {
          padding-right: 26px;
          border-right: 1px solid #9f9f9f;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
    .bg-breadcrumbs-mini {
      background-color: #f9f1e7;
      .container {
        .breadcrumbs-mini {
          display: flex;
          align-items: center;
          padding: 16px 0;
          gap: 10px;
          p {
            font-size: 10px;
            font-weight: 400;
          }
          p:nth-child(1),
          p:nth-child(3),
          p:nth-child(5) {
            color: #9f9f9f;
          }
          p:nth-child(4) {
            padding-right: 20px;
            border-right: 1px solid #9f9f9f;
          }
        }
      }
    }
  }
