.category {
    margin-bottom: 56px;
  .category-title {
    text-align: center;
    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      margin-bottom: 50px;
    }
  }
  .category-content {
    padding: 0 28px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    text-align: center;
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
@media screen and (max-width: 768px) {
  .category {
    .category-title {
      text-align: center;
      h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 12px;
      }
      p {
        font-size: 10px;
        margin-bottom: 30px;
      }
    }
    .category-content {
      padding: 0 14px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      text-align: center;
      img {
        width: 100%;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
@media screen and (max-width: 480px) {
    .category {
      .category-title {
        text-align: center;
        h2 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        p {
          font-size: 8px;
          margin-bottom: 24px;
        }
      }
      .category-content {
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        text-align: center;
        img {
          width: 100%;
          margin-bottom: 10px;
        }
        p {
          font-size: 10px;
          font-weight: 500;
        }
      }
    }
  }
