.bg-services {
  background-color: #faf3ea;
  .container {
    .services {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 50px 0;
      .service-item {
        display: flex;
        align-items: center;
        gap: 4px;
        img {
          width: 40px;
        }
        .item-title {
          h5 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 8px;
          }
          p {
            font-size: 12px;
            color: #898989;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bg-services {
    background-color: #faf3ea;
    .container {
      .services {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 40px 0;
        .service-item {
          display: flex;
          align-items: center;
          gap: 4px;
          img {
            width: 30px;
          }
          .item-title {
            h5 {
              font-size: 14px;
              font-weight: 500;
              margin-bottom: 8px;
            }
            p {
              font-size: 10px;
              color: #898989;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
    .bg-services {
      background-color: #faf3ea;
      .container {
        .services {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          padding: 40px 0;
          .service-item {
            display: flex;
            align-items: center;
            gap: 4px;
            img {
              width: 20px;
            }
            .item-title {
              h5 {
                font-size: 8px;
                font-weight: 500;
                margin-bottom: 4px;
              }
              p {
                font-size: 6px;
                color: #898989;
              }
            }
          }
        }
      }
    }
  }
